*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f1f5f9;
    font-family:Arial,Helvetica,sans-serif;
}

.login{

    min-height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.login-card{

    width:420px;

    background:white;

    border-radius:20px;

    padding:40px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    text-align:center;

}

.login-logo{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    margin-bottom:20px;

}

.video-icon{

    color:#2563eb;

    font-size:45px;

}

.login-logo h1{

    color:#2563eb;

    font-size:35px;

}

.login-card h2{

    margin-bottom:10px;

    color:#0f172a;

}

.login-card p{

    color:gray;

    margin-bottom:30px;

}

.input-box{

    display:flex;

    align-items:center;

    border:1px solid #ddd;

    padding:15px;

    border-radius:12px;

    margin-bottom:20px;

    gap:12px;

}

.input-box svg{

    color:#2563eb;

    font-size:20px;

}

.input-box input{

    width:100%;

    border:none;

    outline:none;

    font-size:16px;

}

.login-btn{

    width:100%;

    padding:15px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:12px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

.login-btn:hover{

    background:#1d4ed8;

}

.login-links{

    margin-top:25px;

    display:flex;

    justify-content:space-between;

}

.login-links a{

    color:#2563eb;

    text-decoration:none;

    font-size:15px;

}

.login-links a:hover{

    text-decoration:underline;

}

@media(max-width:768px){

.login-card{

width:100%;

padding:30px;

}

.login-logo h1{

font-size:28px;

}

}